
.wrapper
 .wrapper__side
  .wrapper__side__header
   %p Aki
   = link_to edit_user_path(current_user) do
    = fa_icon 'cog', class: 'icon'
   = link_to new_group_path do
    = fa_icon 'pencil-square-o', class: 'icon'
  .wrapper__side__groups
   - current_user.groups.each do |group|
    .wrapper__side__groups__room
     = link_to group_messages_path(group) do
      .group__name
       = group.name
      .group__message
       メッセージはまだありません。
 .wrapper__main
  .wrapper__main__header
   .wrapper__main__header__contents
    = link_to edit_group_path(current_user) do
     Edit
  .wrapper__main__body
   .wrapper__main__body__chat
   .wrapper__main__body__submit
    .wrapper__main__body__submit__text
     %input(placeholder = "type a message")
     %a.fa.fa-image
    %a.button Send


